<input type="button"  value="Cargar" id="btnCargar"/>
<div id="Tabla">

</div>

@section scripts{
    <script>
        $(function () {
            $("#btnCargar").click(function () {
                var url = "@Url.Action("Tabla","Home")";
                        #.get(url).done(function (data) {
                    $("#Tabla").append.(data);
                });
            });
        })

    </script>

}